@font-face {
    font-family: "Open-Sans-Variable";
    src: url(fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf) format(truetype);
}

@font-face {
    font-family: "Rubik";
    src: url(fonts/Rubik/static/Rubik-Light.ttf) format(truetype);
}

@font-face {
    font-family: "KindSansThin";
    src: url(fonts/KindSansThin/KindSansThin.otf) format(opentype);
}


/* HTML */
html {
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
}

/* CORPO DA PÁGINA */
body {
    margin: 0;
    padding: 0;
    font-family: Open-Sans-Variable;
}

/* BARRA DE NAVEGAÇÃO */
#id-header-bar {
    /* HEADER */
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px #000000;
    z-index: 3;
}

.class-nav-bar {
    /* NAV */
    margin: 0;
    padding: 0;
}

.list_elements-ul-bar {
    /* UL - list-navegation-bar */
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
    display: flex;
    align-items: center;
}

#fitnessAll-logo-header {
    /* FitnessAll LOGO */
    margin: 0;
    padding: 0;
}

#fitnessAll-logo-header a {
    margin-right: 50pc;
    padding: 0;
    font-family: KindSansThin;
    color: #1a1818;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
}

.list_elements-ul-bar li {
    margin: 0;
    padding: 0;
}

.list_elements-ul-bar li a {
    margin: 0 15px;
    padding: 8px;
    font-family: KindSansThin;
    font-weight: bold;
    font-size: 18px;
    color: #1a1818;
    text-decoration: none;
}

/* ANIMAÇÃO DOS BOTÕES DE NAVEGAÇÃO */



/* SECTION  -  FitnessAll [main] */
#sec-FitnessAll-main {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.figure_top-FitnessAll-main {
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
}

.div-FitnessAll-span {
    margin: 0;
    padding: 0;
    animation: flutuante01 20s ease;
    animation-iteration-count: infinite;
    background-color: green;     /* MARCAÇÃO DIV FitnessAll */
}

.div-FitnessAll-span span {
    font-family: Rubik;
    font-size: 80px;
    text-shadow: 0px 0px 0.5px #000000;
    filter: blur(0.4px);
    user-select: none;
    z-index: 3;
}

.figure_low-FitnessAll-main {
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
}






/* Animação de fundo [cenário]

........ {
animation: flutuante01 20s ease;
animation-iteration-count: infinite;
}

@keyframes flutuante 01 {
0% {
transform: translateY(0px) rotate(15deg);
} 50% {
transform: translateY(-80px) rotate(-15deg);
} 100% {
transform: translateY(0px) rotate (15deg);
}
}

*/