@font-face {
    font-family: Open-Sans-Variable;
    src: url(assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf) format(truetype);
}
@font-face {
    font-family: Open-Sans-Italic_Variable;
    src: url(assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype);
}
@font-face {
    font-family: KindSansThin;
    src: url(assets/fonts/KindSansThin/KindSansThin.otf) format(opentype);
}


/* HTML */
html {
    margin: 0;
    padding: 0;
}

/* CORPO DA PÁGINA */
body {
    margin: 0;
    padding: 0;
}

/* BARRA DE NAVEGAÇÃO */
#id-header-bar {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#fitnessAll-logo {      /* FitnessAll LOGO */
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 35px;
    font-family: KindSansThin;
}

.class-nav-bar {
    margin: 0;
    padding: 0;
}

.list_elements-ul-bar {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
    display: flex;
}

.list_elements-ul-bar li {
    margin: 0;
    padding: 0;
}

.list_elements-ul-bar li a {
    margin-right: 5px;
    margin-left: 30px;
    padding: 8px;
    font-family: KindSansThin;
    font-weight: bold;
    font-size: 18px;
    color: #1a1818;
    text-decoration: none;
}



/* ANIMAÇÃO DOS BOTÕES DE NAVEGAÇÃO */
